.app {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 1.2rem;
  width: 700px;
  margin: 5rem auto;
  box-shadow: 0 0 3px 1px rgba(0,0,0,0.4);
  padding: 1.5rem 0;
}

.info {
  font-size: 0.9rem;
}
