.board {
  box-shadow: 0 0 3px 1px rgba(0,0,0,0.4);
  background-color: #efefef;
  margin: 0 auto 1rem;
  text-align: center;
  overflow: hidden;
  height: 150px;
  position: relative;
}

.play {
  background-color: #295e80;
  padding: 0.75rem 1rem;
  color: #fff;
  font-size: 1.2rem;
  border: 1px solid #fff;
  cursor: pointer;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.7), inset 60px 0 50px -50px rgba(33, 199, 255, 0.48), inset -60px 0 50px -50px rgba(33, 199, 255, 0.48);
  transition-property: box-shadow;
  transition-duration: 350ms;

  &:hover {
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.7), inset 75px 0 50px -50px rgba(33, 199, 255, 0.48), inset -75px 0 50px -50px rgba(33, 199, 255, 0.48);
    transition-property: box-shadow;
    transition-duration: 350ms;
  }

  &:disabled {
    opacity: 0.5;
  }
}

.output {
  border-top: 1px solid #295e80;
  border-bottom: 1px solid #295e80;
  padding: 1rem;
}